<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @invitation.event_id %>
</p>


<p>
  <strong>Invited User:</strong>
  <%= @invitation.user_id %>
</p>


<p>
  <strong>Response:</strong>
  <%= @invitation.response %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', user_event_invitations_path(@invitation.event.user, @invitation.event) %>
